{% extends 'layout.html.twig' %}

{% block title %}Modification vin
{% endblock %}

{% block content %}
	<div id="wrapper" class="bg-lightPrimary">
		<div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
			<div style="border-bottom:solid; border-bottom-color:var(--prune)">
				<h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
					Mettre à jour ma bouteille
				</h1>
			</div>
		</div>
		{{ include('wine/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</div>

{% endblock %}
