{% extends 'layout.html.twig' %}

{% block title %}Modification vin
{% endblock %}

{% block content %}

	{{ include('wine/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_wine_index') }}">Retour</a>

	{{ include('wine/_delete_form.html.twig') }}
{% endblock %}
