{% extends 'layout.html.twig' %}

{% block title %}Nouveau vin
{% endblock %}

{% block content %}

	{{ include('wine/_form.html.twig') }}

	<a href="{{ path('app_wine_index') }}">Retour</a>
{% endblock %}
